$color-type : #c0c3d0;
$color-type-button : #058283;
$color-type-title : #21333e;
$font-type : 15px;

@mixin btn {
    padding: 12px 18px;
    background-color: $color-type-button;
    border-radius: 5px;
    color: white;
}

@mixin container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin inner-cont {
    width: 60%;
    height: 60%;
    display: flex;
}